<div id="<%= dom_id tweet %>" class="card mb-3">
  <div class="card-body">
    <!-- Título de la tarjeta -->
    <h5 class="card-title">
      <strong>Description:</strong>
    </h5>
    <!-- Descripción del tweet -->
    <p class="card-text">
      <%= tweet.description %>
    </p>

    <!-- Nombre de usuario -->
    <p class="card-text">
      <strong>Username:</strong>
      <%= tweet.username %>
    </p>
  </div>
</div>
