<% content_for :title, "Editing Tweet" %>

<div class="container mt-5">
  <h1 class="mb-4">Editing Tweet</h1>
  <%= render "form", tweet: @tweet %>
  <br>
  <div class="mt-3">  
    <%= link_to "Show this tweet", @tweet, class: "btn btn-info" %>
    <%= link_to "Back to tweets", tweets_path, class: "btn btn-secondary ms-3" %>
  </div>
</div>
