<% content_for :title, "New tweet" %>

<div class="container mt-5">
  <h1 class="mb-4">New Tweet</h1>

  <%= render "form", tweet: @tweet %>

  <br>

  <div>
    <%= link_to "Back to tweets", tweets_path, class: "btn btn-secondary mt-3" %>
  </div>
</div>
